parameters:
    level: max
    paths:
        - src
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            message: "#^Cannot assign new offset to array<int, string>|string\\.$#"
            count: 1
            path: src/AbstractComponentRouter.php
